{
	"printWidth": 120,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"jsxBracketSameLine": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": false
}
