.visual {
	width: 100%;
	height: 100vh;

	.textBox {
		position: absolute;
		width: 30%;
		left: 5%;
		top: 30%;

		h2 {
			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0;
			transform: scale(2);
			font: 100 5vmax/1 'raleway';
			color: #333;
			transition: 0.5s;
			&.on {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.swiper {
		width: 100%;
		height: 100%;
		position: relative;
		left: 200px;

		.swiper-wrapper {
			width: 100%;
			height: 100%;
			padding: 20vh 0px;
			box-sizing: border-box;

			.swiper-slide {
				width: 100%;
				height: 100%;

				.inner {
					width: 100%;
					height: 100%;
					opacity: 0;
					transform: scale(0.3);
					transition: 0.5s;
				}

				//이전패널
				&.swiper-slide-prev {
					.inner {
						opacity: 0;
						transform: scale(1.5);
					}
				}

				//활성화 패널
				&.swiper-slide-active {
					.inner {
						opacity: 1;
						transform: scale(1);
					}
				}

				//다음 패널
				&.swiper-slide-next {
					.inner {
						opacity: 0.5;
						transform: scale(0.6);
					}
				}
			}
		}
	}
}