.visual {
	width: 100%;
	height: 100vh;

	.swiper {
		width: 100%;
		height: 100%;
		.swiper-wrapper {
			width: 100%;
			height: 100%;
			padding: 20vh 0px;
			box-sizing: border-box;
			.swiper-slide {
				width: 100%;
				height: 100%;
			}
		}
	}
}