.visual {
	width: 100%;
	height: 100vh;

	.swiper {
		width: 100%;
		height: 100%;

		.swiper-wrapper {
			width: 100%;
			height: 100%;
			padding: 20vh 0px;
			box-sizing: border-box;

			.swiper-slide {
				width: 100%;
				height: 100%;
				perspective: 700px;
				.inner {
					width: 100%;
					height: 100%;
					transition: 0.5s;
				}
				//활성화 패널
				&.swiper-slide-active {
					.inner {
						opacity: 1;
						transform: scale(1) rotateY(0deg);
					}
				}
				//이전패널
				&.swiper-slide-prev {
					.inner {
						opacity: 0.4;
						transform: scale(0.6) rotateY(-40deg);
					}
				}
				//다음 패널
				&.swiper-slide-next {
					.inner {
						opacity: 0.4;
						transform: scale(0.6) rotateY(40deg);
					}
				}
			}
		}
	}
}