@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$tablet: 999px;
$mobile: 599px;

//common
@import './common/reset';
@import './common/header';
@import './common/footer';
@import './common/layout';
@import './common/modal';
@import './common/mailForm';
@import './common/map';
@import './common/mobileMenu';

//main
@import './main/home';
@import './main/visual';

//sub
@import './sub/members';
@import './sub/youtube';
@import './sub/youtubeDetail';
@import './sub/gallery';