.footer {
	width: 100%;
	padding: 100px 15vw;
	background: #333;
	color: #777;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;

	h1 {
		display: flex;
		align-items: center;
		font: 600 1.6rem/1 'orbitron';
	}

	section {
		display: flex;
		flex-wrap: wrap;
		gap: 80px;

		ul {
			display: flex;
			justify-content: center;
			gap: 30px;
			margin-bottom: 20px;
			font-size: 0.8rem;
		}
		p {
			display: flex;
			justify-content: center;
		}
	}
}
