.footer {
	width: 100%;
	padding: 100px 15vw;
	background: #555;
	color: #999;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-end;

	h1 {
		display: flex;
		align-items: flex-end;
	}

	section {
		display: flex;
		flex-wrap: wrap;

		ul {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			gap: 30px;
			margin-bottom: 20px;
		}
		p {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}
	}
}
