main {
	width: 100%;
	padding: 10vh 15vw;
	min-height: 120vh;

	h1 {
		font: 100 6vmax/1 'raleway';
		color: #444;
		margin-bottom: 50px;

		span {
			opacity: 0;
			transform: scale(3);
		}

		&.on {
			span {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.slogan {
		margin-bottom: 100px;
		font-size: 1.2rem;
		font-family: 'orbitron';
		color: #555;
		display: inline-block;
		position: relative;
		overflow: hidden;

		span {
			opacity: 0;
			transition-duration: 0.1s;
			transition-delay: 0.3s;
		}
		.mask {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: -100%;
			background: #555;
			transition-timing-function: linear;
			transition-duration: 0.6s;
		}

		&.on {
			span {
				opacity: 1;
			}
			.mask {
				left: 100%;
			}
		}
	}
}
