main {
	width: 100%;
	padding: 10vh 15vw;
	min-height: 70vh;

	h1 {
		font: 100 6vmax/1 'raleway';
		color: #444;
		margin-bottom: 50px;

		span {
			opacity: 0;
			transform: scale(3) rotate(220deg);
		}
	}
	h1.on {
		span {
			opacity: 1;
			transform: scale(1) rotate(0deg);
		}
	}
}
