.map {
	padding: 10vh 0px 20vh;
	& > h2 {
		font: 500 2rem/1 'orbitron';
		color: #333;
		letter-spacing: 1px;
		margin-bottom: 60px;
	}
	.mapFrame {
		width: 100%;
		height: 60vh;
		background: #000;
		position: relative;
	}
}
