.map {
	padding: 10vh 0px 20vh;

	& > h2 {
		font: 500 2rem/1 'orbitron';
		color: #333;
		letter-spacing: 1px;
		margin-bottom: 60px;
	}

	.mapFrame {
		width: 100%;
		height: 60vh;
		background: #000;
		position: relative;
		> article {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			opacity: 0;
			z-index: 1;
			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
	}

	.btnSet {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 30px;

		.branch,
		.btnToggleSet {
			display: flex;
			gap: 10px;

			li {
				display: inline-block;
				padding: 10px 20px;
				background: #333;
				border-radius: 3px;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
				font: 500 0.6rem/1 'orbitron';
				color: #fff;
				cursor: pointer;
				opacity: 0.5;
				transition: 0.5s;

				&.on {
					opacity: 1;
				}
			}
		}
	}
}
