.btnToggle {
	position: fixed;
	top: 3vh;
	right: 10vw;
	z-index: 6;
	cursor: pointer;
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	display: none;
}

.mobileMenu {
	width: 280px;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(20px);
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 6;
	box-shadow: 0px 30px 30px (rgba(0, 0, 0, 0.1));
}

@media screen and (max-width: $tablet) {
	.btnToggle {
		display: block;
	}
}