.mobileMenu {
	width: 280px;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(20px);
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 6;
	box-shadow: 0px 30px 30px (rgba(0, 0, 0, 0.1));
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;

	h1 {
		width: 100%;
		padding: 50px;
		height: 40%;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		font: 500 2rem/1 'orbitron';
		letter-spacing: 1px;
	}

	ul {
		width: 100%;
		height: 50%;
		display: flex;
		flex-wrap: wrap;

		li {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0px 50px;
			font: 600 1rem/1 'raleway';
			color: #888;
			border-top: 1px solid #fff;
			text-shadow: 2px 2px 2px #fff;
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);

			svg {
				margin-right: 10px;
			}
		}
	}
}