.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 9;
	backdrop-filter: blur(10px);
	padding: 10vh 10vw;

	.con {
		width: 100%;
		height: 100%;

		div {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain !important;
			}
		}
	}

	.btnClose {
		border: none;
		background: transparent;
		font: 600 0.8rem/1 'orbitron';
		letter-spacing: 1px;
		color: #333;
		position: absolute;
		top: 4vh;
		right: 3vw;
		cursor: pointer;
	}
}
