$tablet_b: 1439px;
$gap: 80px;
$count: 4;

.gallery {
	.controller {
		width: 100%;
		margin: 60px 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.type {
			display: flex;
			gap: 20px;

			li {
				padding: 10px 20px;
				border-radius: 4px;
				background: rgba(var(--keyRGB), 0.8);
				font: 400 0.7rem/1 'orbitron';
				color: #fff;
				letter-spacing: 1px;
				cursor: pointer;
				opacity: 0.4;
				transition: 0.5s;

				&.on {
					opacity: 1;
				}
			}
		}

		form {
			display: flex;
			gap: 5px;

			input {
				border: 1px solid #888;
				padding: 5px 10px;
				border-radius: 3px;
			}
			button {
				border: none;
				background: rgba(var(--keyRGB), 0.8);
				border-radius: 3px;
				cursor: pointer;
				font: 400 0.7rem/1 'orbitron';
				color: #fff;
				letter-spacing: 1px;
				padding: 8px 20px;
				position: relative;
			}
		}
	}

	.galleryList {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: $gap;
		opacity: 0;
		transform: translateY(100px);
		transition: 0s;

		&.on {
			opacity: 1;
			transform: translateY(0px);
			transition: 0.5s;
		}

		//미션 (10시 10분까지 ) - 아래 코드에서 미디어쿼리 구간마다 사이간격 변수로 변경 처리
		article {
			// 사이간격을 제외한 가로로 배치될 박스의 총합 = 전체 너비 - (사이간격 * 간격 갯수)
			// 위에서 연산된 실젝 박스 너비 총합해서 / 가로로 배치할 박스 갯수
			width: calc((100% - $gap * ($count - 1)) / $count);

			.pic {
				width: 100%;
				height: 20vw;
			}
		}
	}
}

@media screen and (max-width: $tablet_b) {
	$count: 3;
	$gap: 60px;

	.gallery {
		.galleryList {
			gap: $gap;

			article {
				width: calc((100% - $gap * ($count - 1)) / $count);

				.pic {
					height: 30vw;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	$count: 2;
	$gap: 40px;

	.gallery {
		.galleryList {
			gap: $gap;

			article {
				width: calc((100% - $gap * ($count - 1)) / $count);

				.pic {
					height: 40vw;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	$count: 1;
	$gap: 30px;

	.gallery {
		.galleryList {
			gap: $gap;

			article {
				width: calc((100% - $gap * ($count - 1)) / $count);
			}
		}
	}
}