.gallery {
	.galleryList {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		article {
			width: 22%;
			margin-bottom: 80px;

			.pic {
				width: 100%;
				height: 20vw;
				margin-bottom: 20px;
			}
			h3 {
				font: 400 1rem/1.2 'raleway';
				color: #888;
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.gallery {
		.galleryList {
			article {
				width: 47%;
				margin-bottom: 50px;

				.pic {
					height: 40vw;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.gallery {
		.galleryList {
			article {
				width: 100%;
			}
		}
	}
}
