.gallery {
	.galleryList {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		article {
			width: 22%;
			margin-bottom: 80px;

			.pic {
				width: 100%;
				height: 400px;
				margin-bottom: 20px;
			}
			h3 {
				font: 400 1rem/1.2 'raleway';
				color: #888;
				margin-bottom: 20px;
			}
		}
	}
}
