.youtube {
	article {
		width: 100%;
		border-bottom: 1px solid #ddd;
		padding: 40px 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h3 {
			width: 30%;
			font: 200 2.2rem/1.2 'raleway';
			color: #111;
		}
		.txt {
			width: 36%;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;

			p {
				font: 1rem/1.3 'arial';
				color: #999;
				margin-bottom: 30px;
			}

			span {
				font: 400 0.8rem/1 'orbitron';
				color: orange;
				letter-spacing: 1px;
			}
		}
		.thumb {
			width: 30%;
			height: 10vw;
		}
	}
}
