.detail {
	.vidFrame {
		width: 100%;
		height: 60vh;
		overflow: hidden;
		margin-bottom: 40px;

		iframe {
			border: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	p {
		width: 100%;
		font: 300 1rem/1.3 'raleway';
		color: #555;
		margin-bottom: 30px;
	}
	.date {
		font: 400 1rem/1 'orbitron';
		color: orange;
	}
}
